@charset "utf-8";

.navButton {
	background-color:#0000FF;
	text-align:center;
	color:#FFFFFF;
	border-radius:25px;
	}
.navBar{
	padding:10px;
	width:25%;
}
a:link {
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	}
a:visited{
	color: #ba9cff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	}